*{
	margin: 0;
	padding: 0px;
}


body{
	
	background-color: #BBE0E4;
	height: 100vh;
	width: 100%;
}


.container{
	height: 100vh;
	width: 100%;
	background-image: url(photos/background.jpg);
	background-position: center;
	background-size: cover;
	padding-left: 5%;
	padding-right: 5%;
	box-sizing: border-box;
	position: relative;
}

.navbar{
	width: 100%;
	height: 15vh;
	margin: auto;
	display: flex;
	align-items: center;
}

.logo{
	width: 160px;
	cursor: pointer;
}

.cart{
	width: 40px;
	cursor: pointer;
}

nav{
	flex: 1;
	padding-left: 60px;
	text-align: center;
}

nav ul li{
	display: inline;
	list-style: none;
	margin: 0px 20px;
}

nav ul li a{
	font-size: 20px;
	text-decoration: none;
	color: #333;
}

nav ul li a:hover{
	color: #FD117C;
}




.content .name{
	font-size: 45px;
	font-weight: 600;
	margin-top: 24px;
	margin-bottom: 15px;
	color: #232d60;

}


.content h1{
	font-size: 45px;
	font-weight: 100;
	margin-top: 24px;
	margin-bottom: 15px;
	color: #232d60;

}


.content p{
	font-size: 20px;
	color: #0C5881;
	line-height: 25px;
	letter-spacing: 1px;
}

.content{
	margin-left: 10%;
	margin-top: 15%;
}

.content .btn{
	display: inline-block;
	background: linear-gradient(-50deg, #FF7230, #FF7230);
	border-radius: 6px;
	padding: 10px 20px;
	box-sizing: border-box;
	text-decoration: none;
	color: #fff;
	box-shadow: 3px 8px 22px rgba(94,28,68,0.15);
	position: absolute;
	top: 570px;
}


.content .btn2{display: inline-block;
	background: linear-gradient(-50deg, #87adfe, #ff77cd);
	border-radius: 6px;
	padding: 10px 20px;
	box-sizing: border-box;
	text-decoration: none;
	color: #fff;
	box-shadow: 3px 8px 22px rgba(94,28,68,0.15);
	position: absolute;
	top: 570px;
	left: 380px
}


.content .btn2:hover{
	border: 1px solid #FF7230;
	color: #FFF;
	background:  #FF7230;

}


.feature-img{
	height: 400px;
	border: 3px solid;
	border-color: #000;
	position: absolute;
	bottom: 100px;
	right: 20px;
	border-radius: 50%;

}

.social-links{
	transform: rotate(-90deg);
	position: absolute;
	left: -50px;
	bottom: 245px;
}

.social-links a{
	text-decoration: none;
	color: #0C5881;
	padding-right: 20px;
	font-size: 20px;

}

hr{
	width: 43%;
	color: aqua;
	cursor: none;
}

#hr2{
	width: 100%;
	height: 1.5px;
	background-color: black;
}

section{
	padding: 0;
	margin: 0;
	box-sizing: border-box;

}

.work{
	width: 100%;
	height: 310px;
	box-sizing: border-box;
	padding-left: 5%;
	padding-right: 5%;
}

.portfolio{
	font-size: 50px;
	font-weight: 600;
	font-family: sans-serif;
	text-align: center;
	padding-top: 10px;
	box-sizing: border-box;
	color: white;
}

.portfolio:hover{
	color: orange;
	cursor: pointer;
	font-style: italic;
}


.my_projects img{
	width: 24%;
	height: 25vh;
	margin-left: 5px;
	border-radius: 0%;
	border: 2px solid black;
	transition: transform .3s;
}

.my_projects img:hover{
	-ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5); 
}







marquee{
	font-family: sans-serif;
	font-size: 25px;
	behavior: alternate;
	color: white;
	margin-top: 30px;

}


#hr3{
	margin-top: 30px;
	width: 100%;
	height: 1.5px;
	background-color: black;
}

footer{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	height: 720px;
	width: 100%;
	background-color: #BBE0E4;
	padding-left: 5%;
	padding-right: 5%;
}

#feel{
	margin-left: 420px;
	margin-top: 20px;
	font-size: 25px;
	font-family: sans-serif;
	color: #515151;
}


.contact{
	margin-top: 50px;
	text-align: center;
	padding-top: 10px;
	font-family: sans-serif;
}


.contact_form{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	margin-top: 50px;
	margin-left: 350px;
	font-size: 65px;
	line-height: 25px;
}

.contact_form input{
	height: 5px;
	width: 500px;
	padding: 15px;
	margin-top: 15px;
	background-color: #fff;
	border: 1px solid #ced4da;
	outline-color: #B7B8B9;
}

textarea{
	outline-color: #B7B8B9;
	margin-top: 15px;
	padding: 15px;
	width: 500px;
	height: 70px;
	border: 1px solid #ced4da;
}

textarea::placeholder{
	font-family: sans-serif;
}

#submit_btn{
	margin-top: 20px;
	margin-left: 200px;
	background-color: #FF7230;
	width: 150px;
	height: 40px;
	font-size: 20px;
	font-family: sans-serif;
	color: white;
	border: none;
	font-weight: normal;
	cursor: pointer;
}

#submit_btn:hover{
	background-color: white;
	color: #FF7230;
	border: 1px solid #FF7230;
}

.contact_div{
	box-sizing: border-box;
}

#contact_mail{
	margin-left: 50px;
	box-sizing: border-box;
	width: 25%;
	height: 20vh;
	background-color: #F9E7F2;
	border-radius: 15px;
	border: 1px solid #D3D2D2;
	margin-top: 50px;
}

#mail_logo{
	font-size: 50px;
	margin-top: 10px;
	padding-left: 125px;
	color: ;
}

#mail{
	font-size: 20px;
	font-family: sans-serif;
	text-align: center;
	margin-top: 20px;

}

#contact_mail:hover{
	background-color: white;
	border: 1px solid #C08261;
}





#contact_whatsapp{
	margin-top: -130px;
	margin-left: 450px;
	box-sizing: border-box;
	width: 25%;
	height: 20vh;
	background-color: #F9E7F2;
	border-radius: 15px;
	border: 1px solid #D3D2D2;
}

#whatsapp_logo{
	font-size: 50px;
	margin-top: 20px;
	padding-left: 125px;
	color: #07d54f;
}

#whatsapp{
	font-size: 20px;
	font-family: sans-serif;
	text-align: center;
	margin-top: 20px;
}

#contact_whatsapp:hover{
	background-color: white;
	border: 1px solid #C08261;
}


#contact_city{
	margin-top: -130px;
	margin-left: 850px;
	box-sizing: border-box;
	width: 25%;
	height: 20vh;
	background-color: #F9E7F2;
	border-radius: 15px;
	border: 1px solid #D3D2D2;
}

#city_logo{
	font-size: 50px;
	margin-top: 20px;
	padding-left: 125px;
	color: #000;
}

#city{
	font-size: 20px;
	font-family: sans-serif;
	text-align: center;
	margin-top: 20px;
}

#contact_city:hover{
	background-color: white;
	border: 1px solid #C08261;
}

.icon{
	margin: 0;
	padding: 0;
	height: 75px;
	width: 100%;
	background-color: #BBE0E4;
	box-sizing: border-box;

}


#skicon{
	margin-left: 350px;
}

#fa{
	padding-left: 30px;
	margin: 20px;
	font-size: 40px;
	box-sizing: border-box;
}


.copy{
	height: 50px;
	width: 100%;
	background-color: black;


}


#copyright{
	color: white;
	margin-left: 50px;
	margin-top: 0px;
	text-align: center;
	top: 20px;
}

